.dashboard-container {
  display: flex;
}

.dashboard-content {
  margin-left: 270px;
  padding: 20px;
  flex: 1;
}

.dashboard-content h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.dashboard-content p {
  font-size: 1.1rem;
  color: #555;
}